#registration {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 90vw;
  padding: 1em;
  background-color: #023e8a;
  border-radius: 25px;
}
#registration div {
  flex-direction: column;
  align-items: center;
  color: white;
}
main h2{
  width: 100%;
}
#registration span {
  color: white;
}
#registration input{
  width: 40rem;
  height: 6rem;
  border-radius: 10px;
  border: none;
}
#registration label{
  display: flex;
  flex-direction: row;
  width: 70%;
  align-items: center;
  justify-content: space-evenly;
}
#registration a {
  color:#e29578;
}
#registration button {
  background-color: #e29578;
  padding: 20px;
  width: 400px;
  border-radius: 15px;
  margin-bottom: 5rem;
  transition: 200ms;
}
#registration button:hover {
  transform: scale(.98);
  opacity: .9;
  color: white;
}
@media all and (min-device-width: 800px){
  h2{
    font-size: 2rem;
  }
  section p {
    font-size: 1.5rem;
    text-align: center;
  }
  #registration {
    width: 450px;
    border-radius: 15px;
    margin-bottom: 3rem;
  }
  #registration label{
    font-size: 1.3em;
  }
  #registration input {
    font-size: 1.5rem;
    width: 300px;
    height: 40px;
    margin-top: 10px;  
  }
  #registration button {
    width: 250px;
    font-size: 1.5rem;
    padding: 10px;
  }

}