
.LoginForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  width: 90vw;
  padding: 1em;
  background-color: #023e8a;
  border-radius: 25px;
}
.LoginForm p{
  color: red;
  text-align: center;
  width: 100%;
}
.LoginForm div {
  flex-direction: column;
  color: white;
}
.LoginForm input{
  width: 40rem;
  height: 8em;
  border-radius: 10px;
  border: none;
}
.LoginForm button {
  background-color: #e29578;
  padding: 20px;
  width: 400px;
  border-radius: 15px;
  margin: 3rem 0;
}
.LoginForm button:hover {
  opacity: .9;
  cursor: pointer;
}
@media all and (min-device-width: 800px){
  h2{
    font-size: 2rem;
  }
  .LoginForm{
    width: 450px;
    border-radius: 15px;
    margin-bottom: 3rem;
  }
  .LoginForm label{
    font-size: 1.3em;
  }
  .LoginForm input{
    font-size: 1.5rem;
    width: 300px;
    height: 40px;
    margin-top: 10px; 
  }
  .LoginForm button{
    width: 250px;
    font-size: 1.5rem;
    padding: 10px;
  }
}